.wrapper {
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 50%;
}

.algorithmSwitchButton {
  display: inline-block;
  width: 100px;
  height: 100%;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  margin: auto;
}

.algorithmSwitchButton:hover {
  color: #ffffff;
  background-color: #000000;
}
@media all and (max-width: 30em) {
  .algorithmSwitchButton {
    display: block;
    margin: 0.4em auto;
  }
}
