.topBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #282c34;
  color: white;
}
.titleName {
  grid-column: 2/4;
  font-size: 40px;
  text-align: center;
  margin-top: 1vh;
}
.myName {
  grid-column: 4/5;
  font-size: 20px;
  text-align: right;
  margin-top: 0vh;
}
